.nav {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0057b8;
  
}

.list {
  display: flex;
}

.link {
  background-color: rgb(253, 253, 252);
  color: rgb(116, 116, 116);
  border: none;
  border-radius: 3px;
  font-size: 22px;
  padding: 10px 35px;
  text-decoration: none;
}

.link:not(:last-child) {
  margin-right: 35px;
}

.activeLink {
  color: rgb(33, 37, 37);
}
